<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Refaccionaría Leo</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>
    <div th:replace="fragments :: header"></div>
    <div th:replace="fragments :: product-actions"></div>

    <div style="text-align: center;">
        <form th:action="@{/menu/product/search-by-number}" th:method="post" style="display: inline-block; margin-right: 10px;">
            <label for="partNumber">Número:</label>
            <input type="text" id="partNumber" name="partNumber" required>
            <button type="submit">Buscar</button>
        </form>

        <form th:action="@{/menu/product/search-by-application}" th:method="post" style="display: inline-block;">
            <label for="application">Aplicación:</label>
            <input type="text" id="application" name="application" required>
            <button type="submit">Buscar</button>
        </form>
    </div>

    <table>
        <thead>
        <tr>
            <th>Cantidad</th>
            <th>Número</th>
            <th>Aplicación</th>
            <th>Precio</th>
            <th>Público</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.partNumber}"></td>
            <td th:text="${product.application}"></td>
            <td th:text="${product.publicPrice}"></td>
            <td th:text="${product.privatePrice}"></td>
        </tr>
        </tbody>
    </table>

    <label th:text="${message ?: ''} "></label>
</body>
</html>