<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Refaccionaría Leo</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/tables.css}">
</head>
<body>
  <div th:replace="fragments :: header"></div>
  <table>
      <thead>
      <tr>
          <th>Cantidad</th>
          <th>Número</th>
          <th>Aplicación</th>
          <th>Precio</th>
          <th>Público</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td>10</td>
          <td>00123</td>
          <td>Motor</td>
          <td>$150.00</td>
          <td>$300.00</td>
      </tr>
      <tr>
          <td>5</td>
          <td>00456</td>
          <td>Transmisión</td>
          <td>$250.00</td>
          <td>$500.00</td>
      </tr>
      <tr>
          <td>8</td>
          <td>00789</td>
          <td>Sistema Eléctrico</td>
          <td>$120.00</td>
          <td>$240.00</td>
      </tr>
      </tbody>
  </table>
</body>
</html>